@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    overflow-y: hidden;
}

.container{
    display: flex;
    width: 90vw;
    height: 90vh;
    gap: 10px;
}

.panel{
    height: 90%;
    flex: 0.5;
    position: relative;
    background-color: rgba(0,0,0,0.5);
    border-radius: 15px;
    cursor: pointer;
    transition: flex 0.4s ease-out;
}

.panel .ranking{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
}

.panel img{
    display: none;
}

.panel.active span{
    display: none;
}

.panel.active{
    position: relative;
    flex: 5;
    transition: flex 0.7s ease-in;
}

.panel.active img{
    display: flex;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    object-fit: fill;
    opacity: 0.8;
}

.panel h3{
    display: none;
}

.panel.active h3{
    display: flex;
}

h3{
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 20px;
}

@media screen and (max-width:768px){
    h1{
        margin-bottom: 0;
    }

    .container{
        flex-direction: column;
    }

    .panel{
        min-height: 40px;
    }
}